<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>

        @font-face {
            font-family: "noe-display-bold";
            src: url({{ url_for('static', filename='fonts/noe-display-bold.woff') }}) format("woff");
        }

        @font-face {
            font-family: "apercu-mono-regular";
            src: url({{ url_for('static', filename='fonts/apercu-mono-regular-pro.woff') }}) format("woff");
        }

    </style>

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaglabs.css') }}">

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flaglabs.js') }}"></script>

    <title>Atlas of Fractal Nations</title>

</head>
<body>

<main>

    <h1 id="title">Fractal Nations</h1>

    <div id="subtitle">AI toolkit for nation building. Need a flag?</div>

    <div id="slider-group">

        <div id="left">

            <div class="slider-div">
                <input type="range" id="warm" name="warm"
                       min="-1" max="1" value="0" step="0.2" data-input-type="bipolar">
                <label for="warm">Cold/warm</label>
            </div>

            <div class="slider-div">
                <input type="range" id="light" name="light"
                       min="-1" max="1" value="0" step="0.2" data-input-type="bipolar">
                <label for="light">Dark/light</label>
            </div>

            <div class="slider-div">
                <input type="range" id="complex" name="complex"
                       min="-1" max="1" value="0" step="0.2" data-input-type="bipolar">
                <label for="complex">Simple/complex</label>
            </div>

            <div class="slider-div">
                <input type="range" id="anarchist" name="anarchist"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="anarchist">Anarchist</label>
            </div>

            <div class="slider-div">
                <input type="range" id="african" name="african"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="african">African</label>
            </div>

            <div class="slider-div">
                <input type="range" id="slavic" name="slavic"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="slavic">Slavic</label>
            </div>

            <div class="slider-div">
                <input type="range" id="queer" name="queer"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="queer">Queer</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Corporate</label>
            </div>

            <div class="slider-div">
                <input type="range" id="socialist" name="socialist"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="socialist">Socialist</label>
            </div>

            <div class="slider-div">
                <input type="range" id="christian" name="christian"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="christian">Christian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="islamic" name="islamic"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="islamic">Islamic</label>
            </div>

            <div class="slider-div">
                <input type="range" id="serbian" name="serbian"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="serbian">Serbian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="croatian" name="croatian"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="croatian">Croatian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="south_american" name="south_american"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="south_american">South American</label>
            </div>

        </div>

        <div id="right">

            <div class="slider-div">
                <input type="range" id="warm" name="warm"
                       min="-1" max="1" value="0" step="0.2" data-input-type="bipolar">
                <label for="warm">Symbolic</label>
            </div>

            <div class="slider-div">
                <input type="range" id="monochrome" name="monochrome"
                       min="-1" max="1" value="0" step="0.2" data-input-type="bipolar">
                <label for="monochrome">Color/BW</label>
            </div>

            <div class="slider-div">
                <input type="range" id="anarchist" name="anarchist"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="anarchist">Scandinavian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="slavic" name="slavic"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="slavic">Antivax</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Pirate</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Arab</label>
            </div>

            <div class="slider-div">
                <input type="range" id="slavic" name="slavic"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="slavic">Libertarian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="queer" name="queer"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="queer">Incel</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Hindu</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">East Asian</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Yugoslav</label>
            </div>

            <div class="slider-div">
                <input type="range" id="corporate" name="corporate"
                       min="0" max="1" value="0" step="0.1" data-input-type="unipolar">
                <label for="corporate">Eco</label>
            </div>

            <div>
                <button type="button" id="go">Generate</button>
            </div>

        </div>

    </div>

</main>

<aside>
    <div id="flags"></div>
</aside>

</body>
</html>